.addCounter {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47534de0;
  padding: 15px 5px;
  max-width: 250px;
}

.addCounter button {
  width: 60%;
  height: 60%;
  font-size: 5rem;
  background-color: rgba(0, 0, 0, 0.219);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.addCounter button:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

.addCounter button:active {
  background-color: rgba(0, 0, 0, 0.685);
  box-shadow: 5px 5px #666;
}
